<div *ngIf="winningHistory" id="range-div">
  <span class="arrow-pointer" id="down-arrow" (click)="updateRange($event)">&lt;</span>
  <span id="range-span">{{startRange}} - {{endRange}} / {{winningHistory.length}} </span>
  <span class="arrow-pointer" id="up-arrow" (click)="updateRange($event)">&gt;</span>
</div>

<table *ngIf="winningHistory">
  <tr>
    <th>Winning Numbers</th>
    <th>Date</th>
    <th>Time of Day</th>

  </tr>
  <tr class="data-row"
    *ngFor="let winningLotto of winningHistory | slice:startRange:endRange"
    [routerLink]="['/lotto-games',lottoGameName,'statistics',winningLotto.winningNumbers.join('-')]"
  >
    <td >{{winningLotto.winningNumbers.join(' - ')}}</td>
    <td >{{winningLotto.date}}</td>
    <td >{{winningLotto.time}}</td>

  </tr>
</table>
