<div *ngIf="lottoGame" id="lg-detail-header">
  <h2 >{{this.lottoGame.name}}</h2>
  <p>
    {{this.lottoGame.name}} randomly selects {{this.lottoGame.lotteryLength}} numbers ranging from 0 - {{this.lottoGame.maxNumber}}
    with {{this.lottoGame.statistics.length}} ways to win.
  </p>
</div>

<div id="lotto-game-option-links">
  <div class="lotto-game-option-link" *ngFor="let option of options">
    <a
      *ngIf="lottoGame"
       [routerLink]="['/lotto-games',this.lottoGame.valueName,this.lgs.optionValue(option)]"
       routerLinkActive="active">
      {{lgs.displayName(option)}}
    </a>
  </div>
</div>
<router-outlet></router-outlet>
